<!DOCTYPE html>
<html>
  <head>
    <title>Dank Memer</title>
    <meta charset="utf-8">
    <meta name="description" content="The official website of Discord's favorite bot, Dank Memer!">
    <meta name="keywords" content="Discord, Dank Memer, Dank, Memer, Discord bot">
    <meta name="author" content="Melmsie">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
  </head>
  <body>
    <nav class="navbar">
        <span class="DM-nav">DANK MEMER</span>
        <ul class="nav-links">
          <li class="nav-item">
            <a exact class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeclass="active" href="/commands">COMMANDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" activeclass="active" href="/devs">DEVS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link premium" href="/premium">PREMIUM</a>
          </li>
        </ul>
      </nav>
    <div class="content">
      <div class="home">
        <img class="memer-img" height="250" width="250" src=<%= config.links.avatar %>>
        <span class="home-slogan">THE <span class="blurple">ORIGINAL</span> DISCORD MEME BOT</span>
        <a href="https://goo.gl/ZHSsby">Invite Now!</a>
      </div>
    </div>
    <footer class="footer">
        <div class="footer-table">
          <div class="footer-group footer-copyright">
            <span class="copyright">Copyright © 2018 Dank Memer Team</span>
          </div>
          <div class="footer-group footer-links">
            <a class="footer-link" href="https://github.com/Dank-Memer">GitHub</a>
            <a class="footer-link" href="https://twitter.com/dankmemerbot">Twitter</a>
            <a class="footer-link" href="https://discord.gg/Wejhbd4" >Server</a>
            <a class="footer-link" href="https://discordbotlist.com/bots/270904126974590976">DBL</a>
          </div>
        </div>
      </footer>
  </body>
</html>